{
  "http_interactions": [
    {
      "recorded_at": "2024-04-27T01:29:38",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <BEARER_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/LizardByte/comments/?limit=100&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"after\": \"t1_k57hxym\", \"dist\": 100, \"modhash\": null, \"geo_filter\": \"\", \"children\": [{\"kind\": \"t1\", \"data\": {\"link_url\": \"https://www.reddit.com/r/LizardByte/comments/1bj8equ/how_to_customize_application_order/\", \"subreddit_id\": \"t5_6o778z\", \"approved_at_utc\": null, \"author_is_blocked\": false, \"comment_type\": null, \"link_title\": \"How to customize application order?\", \"mod_reason_by\": null, \"banned_by\": null, \"ups\": 1, \"num_reports\": 0, \"author_flair_type\": \"text\", \"total_awards_received\": 0, \"subreddit\": \"LizardByte\", \"link_author\": \"Only_Hard\", \"distinguished\": null, \"likes\": null, \"replies\": \"\", \"user_reports\": [], \"saved\": false, \"id\": \"l14mslw\", \"banned_at_utc\": null, \"mod_reason_title\": null, \"gilded\": 0, \"archived\": false, \"collapsed_reason_code\": null, \"no_follow\": true, \"spam\": false, \"num_comments\": 1, \"can_mod_post\": true, \"created_utc\": 1714004374.0, \"send_replies\": true, \"parent_id\": \"t3_1bj8equ\", \"score\": 1, \"author_fullname\": \"t2_393wfkmy\", \"over_18\": false, \"report_reasons\": [], \"approved_by\": null, \"controversiality\": 0, \"body\": \"It's not currently possible.\", \"edited\": false, \"gildings\": {}, \"author_flair_css_class\": null, \"author_flair_background_color\": \"#94e044\", \"is_submitter\": false, \"downs\": 0, \"author_flair_richtext\": [], \"author_patreon_flair\": false, \"body_html\": \"\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EIt\\u0026#39;s not currently possible.\\u003C/p\\u003E\\n\\u003C/div\\u003E\", \"removal_reason\": null, \"collapsed_reason\": null, \"link_id\": \"t3_1bj8equ\", \"associated_award\": null, \"stickied\": false, \"author_premium\": false, \"can_gild\": false, \"top_awarded_type\": null, \"unrepliable_reason\": null, \"approved\": false, \"author_flair_text_color\": \"dark\", \"score_hidden\": false, \"permalink\": \"/r/LizardByte/comments/1bj8equ/how_to_customize_application_order/l14mslw/\", \"subreddit_type\": \"public\", \"link_permalink\": \"https://www.reddit.com/r/LizardByte/comments/1bj8equ/how_to_customize_application_order/\", \"name\": \"t1_l14mslw\", \"created\": 1714004374.0, \"subreddit_name_prefixed\": \"r/LizardByte\", \"author_flair_text\": \"Developer\", \"removed\": false, \"author\": \"ReenigneArcher\", \"collapsed\": false, \"awarders\": [], \"all_awardings\": [], \"locked\": false, \"ignore_reports\": false, \"collapsed_because_crowd_control\": null, \"mod_reports\": [], \"quarantine\": false, \"mod_note\": null, \"treatment_tags\": [], \"author_flair_template_id\": \"5d220538-ff87-11ec-a9c4-56c680cbb67e\"}}, {\"kind\": \"t1\", \"data\": {\"link_url\": \"https://www.reddit.com/r/LizardByte/comments/18g4s64/sunshine_install_errors/\", \"subreddit_id\": \"t5_6o778z\", \"approved_at_utc\": null, \"author_is_blocked\": false, \"comment_type\": null, \"link_title\": \"Sunshine install: Errors!\", \"mod_reason_by\": null, \"banned_by\": null, \"ups\": 1, \"num_reports\": 0, \"author_flair_type\": \"text\", \"total_awards_received\": 0, \"subreddit\": \"LizardByt[...]
