{
  "http_interactions": [
    {
      "recorded_at": "2024-05-01T14:22:00",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <BEARER_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/LizardByte/new?limit=100&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"after\": \"t3_10sfla4\", \"dist\": 100, \"modhash\": null, \"geo_filter\": \"\", \"children\": [{\"kind\": \"t3\", \"data\": {\"author_flair_background_color\": null, \"approved_at_utc\": 1713811647, \"subreddit\": \"LizardByte\", \"selftext\": \"Hello everyone. I was trying to make a setup with dual monitor work with sunshine. Sunshine does not support yet such setups. However what you can do, is run two instances of sunshine on parallel. You juste have to make sure the network ports used are different.  Then you can configure each sunshine to stream one of the monitors (In the [https://localhost:\\u003CWEB UI PORT\\u003E/config#](https://localhost:47990/config#) page, in the \\\"Audio/Video\\\" section there is an \\\"Output Name\\\[...]
    {
      "recorded_at": "2024-05-01T14:22:00",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <BEARER_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/user/AAbrains/about/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"t2\", \"data\": {\"is_employee\": false, \"is_friend\": false, \"subreddit\": {\"default_set\": true, \"user_is_contributor\": false, \"banner_img\": \"\", \"allowed_media_in_comments\": [], \"user_is_banned\": false, \"free_form_reports\": true, \"community_icon\": null, \"show_media\": true, \"icon_color\": \"\", \"user_is_muted\": null, \"display_name\": \"u_AAbrains\", \"header_img\": null, \"title\": \"\", \"previous_names\": [], \"over_18\": false, \"icon_size\": [256, 256], \"primary_color\": \"\", \"icon_img\": \"https://styles.redditmedia.com/t5_2fp6nr/styles/profileIcon_snoo117cf60a-27b2-43c0-9112-c52c2ff0a23a-headshot.png?width=256\\u0026height=256\\u0026crop=256:256,smart\\u0026s=ba41ee17a6dd4c67ebe3c62b2e7548c0945229b5\", \"description\": \"\", \"submit_link_label\": \"\", \"header_size\": null, \"restrict_posting\": true, \"restrict_commenting\": false, \"subscribers\": 0, \"submit_text_label\": \"\", \"is_default_icon\": false, \"link_flair_position\": \"\", \"display_name_prefixed\": \"u/AAbrains\", \"key_color\": \"\", \"name\": \"t5_2fp6nr\", \"is_default_banner\": true, \"url\": \"/user/AAbrains/\", \"quarantine\": false, \"banner_size\": null, \"user_is_moderator\": false, \"accept_followers\": true, \"public_description\": \"\", \"link_flair_enabled\": false, \"disable_contributor_requests\": false, \"subreddit_type\": \"user\", \"user_is_subscriber\": false}, \"snoovatar_size\": [380, 600], \"awardee_karma\": 15, \"id\": \"5pt89pvr\", \"verified\": true, \"is_gold\": false, \"is_mod\": false, \"awarder_karma\": 0, \"has_verified_email\": true, \"icon_img\": \"https://styles.redditmedia.com/t5_2fp6nr/styles/profileIcon_snoo117cf60a-27b2-43c0-9112-c52c2ff0a23a-headshot.png?width=256\\u0026height=256\\u0026crop=256:256,smart\\u0026s=ba41ee17a6dd4c67ebe3c62b2e7548c0945229b5\", \"hide_from_robots\": false, \"link_karma\": 193, \"pref_show_snoovatar\": false, \"is_blocked\": false, \"total_karma\": 274, \"accept_chats\": true, \"name\": \"AAbrains\", \"created\": 1582019177.0, \"created_utc\": 1582019177.0, \"snoovatar_img\": \"https://i.redd.it/snoovatar/avatars/117cf60a-27b2-43c0-9112-c52c2ff0a23a.png\", \"comment_karma\": 66, \"accept_followers\": true, \"has_subscribed\": true, \"accept_pms\": true}}"
        },
        "headers": {
          "content-type": [
            "application/json; charset=UTF-8"
          ],
          "x-ratelimit-remaining": [
            "978"
          ],
          "x-ratelimit-reset": [
            "480"
          ],
          "x-ratelimit-used": [
            "18"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/user/AAbrains/about/?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.9.0"
}