{
  "http_interactions": [
    {
      "recorded_at": "2024-05-01T14:17:33",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <BEARER_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/user/tata_contreras/about/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"t2\", \"data\": {\"is_employee\": false, \"is_friend\": false, \"subreddit\": {\"default_set\": true, \"user_is_contributor\": false, \"banner_img\": \"\", \"allowed_media_in_comments\": [], \"user_is_banned\": false, \"free_form_reports\": true, \"community_icon\": null, \"show_media\": true, \"icon_color\": \"\", \"user_is_muted\": null, \"display_name\": \"u_tata_contreras\", \"header_img\": null, \"title\": \"\", \"previous_names\": [], \"over_18\": false, \"icon_size\": [256, 256], \"primary_color\": \"\", \"icon_img\": \"https://styles.redditmedia.com/t5_5wqhrj/styles/profileIcon_snoo1d6b7e76-f6c6-45b8-a511-e97299739aed-headshot.png?width=256\\u0026height=256\\u0026crop=256:256,smart\\u0026s=c5e39461caf91634b0583cc6f0e557874bba33f3\", \"description\": \"\", \"submit_link_label\": \"\", \"header_size\": null, \"restrict_posting\": true, \"restrict_commenting\": false, \"subscribers\": 0, \"submit_text_label\": \"\", \"is_default_icon\": false, \"link_flair_position\": \"\", \"display_name_prefixed\": \"u/tata_contreras\", \"key_color\": \"\", \"name\": \"t5_5wqhrj\", \"is_default_banner\": true, \"url\": \"/user/tata_contreras/\", \"quarantine\": false, \"banner_size\": null, \"user_is_moderator\": false, \"accept_followers\": true, \"public_description\": \"\", \"link_flair_enabled\": false, \"disable_contributor_requests\": false, \"subreddit_type\": \"user\", \"user_is_subscriber\": false}, \"snoovatar_size\": [380, 600], \"awardee_karma\": 0, \"id\": \"jwdeap93\", \"verified\": true, \"is_gold\": false, \"is_mod\": true, \"awarder_karma\": 0, \"has_verified_email\": true, \"icon_img\": \"https://styles.redditmedia.com/t5_5wqhrj/styles/profileIcon_snoo1d6b7e76-f6c6-45b8-a511-e97299739aed-headshot.png?width=256\\u0026height=256\\u0026crop=256:256,smart\\u0026s=c5e39461caf91634b0583cc6f0e557874bba33f3\", \"hide_from_robots\": false, \"link_karma\": 5, \"pref_show_snoovatar\": false, \"is_blocked\": false, \"total_karma\": 5, \"accept_chats\": true, \"name\": \"tata_contreras\", \"created\": 1645752924.0, \"created_utc\": 1645752924.0, \"snoovatar_img\": \"https://i.redd.it/snoovatar/avatars/1d6b7e76-f6c6-45b8-a511-e97299739aed.png\", \"comment_karma\": 0, \"accept_followers\": true, \"has_subscribed\": true, \"accept_pms\": true}}"
        },
        "headers": {
          "content-type": [
            "application/json; charset=UTF-8"
          ],
          "x-ratelimit-remaining": [
            "938"
          ],
          "x-ratelimit-reset": [
            "147"
          ],
          "x-ratelimit-used": [
            "58"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/user/tata_contreras/about/?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.9.0"
}