{
  "http_interactions": [
    {
      "recorded_at": "2025-05-20T23:55:50",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <BEARER_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/LizardByte/comments/?limit=100&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"after\": \"t1_m84x922\", \"dist\": 100, \"modhash\": null, \"geo_filter\": \"\", \"children\": [{\"kind\": \"t1\", \"data\": {\"link_url\": \"https://www.reddit.com/r/LizardByte/comments/w03cku/welcome_to_lizardbyte/\", \"subreddit_id\": \"t5_6o778z\", \"approved_at_utc\": null, \"author_is_blocked\": false, \"comment_type\": null, \"link_title\": \"Welcome to LizardByte!\", \"mod_reason_by\": null, \"banned_by\": null, \"ups\": 1, \"num_reports\": 0, \"author_flair_type\": \"text\", \"total_awards_received\": 0, \"subreddit\": \"LizardByte\", \"link_author\": \"[deleted]\", \"distinguished\": null, \"likes\": true, \"replies\": \"\", \"user_reports\": [], \"saved\": false, \"id\": \"mtdyx3d\", \"banned_at_utc\": null, \"mod_reason_title\": null, \"gilded\": 0, \"archived\": false, \"collapsed_reason_code\": null, \"no_follow\": false, \"author\": \"<USERNAME>\", \"num_comments\": 6, \"can_mod_post\": true, \"created_utc\": 1747785337.0, \"send_replies\": true, \"parent_id\": \"t1_l20s21b\", \"score\": 1, \"author_fullname\": \"t2_ps86k4yd\", \"over_18\": false, \"report_reasons\": [], \"approved_by\": null, \"controversiality\": 0, \"body\": \"# VBan\\n\\nVBan is a microphone transmission protocol made by the makers of VB cable. It allows you to pass your microphone from\\nyour client to your host on supported clients. You will need to download \\\"Receptor\\\" on your host and \\\"Talkie\\\" on your\\nclients. You can find both here: \\u003Chttps://vb-audio.com/Voicemeeter/vban.htm\\u003E\\n\\nOnce downloaded, extracted, and placed in your desired location, all you need to do is run them and do some minor\\nconfiguration as follows:\\n\\n1. On Talkie, you give your stream a name (like the device name) and the IP address of the host.\\n   You may also have to go into settings via the menu button to assign a microphone.\\n2. On Receptor, you assign an audio output. You may have to install VB cable to make a digital one.\\n   Then click the stream name. The stream you made from Talkie should appear as an option.\\n\\nThat's it!\\n\\n\\u2139\\ufe0f **Notes**\\n\\n- As Receptor does not auto-start as it is not an installed program, you may want to add it as a\\n  Sunshine pre-launch command. Receptor will remember the last audio stream it was connected to.\\n- You may have to configure Windows/Game audio setting on the host to use the Microphone if you are using VB cable.\\n- To use Vban over the internet, you will also have to manually forward UDP Port 6980.\", \"edited\": false, \"gildings\": {}, \"author_flair_css_class\": null, \"author_flair_background_color\": \"#ffd635\", \"is_submitter\": false, \"downs\": 0, \"author_flair_richtext\": [], \"author_patreon_flair\": false, \"body_html\": \"\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Ch1\\u003EVBan\\u003C/h1\\u003E\\n\\n\\u003Cp\\u003EVBan is a microphone transmission protocol made by the makers of VB cable. It allows you to pass your microphone from\\nyour client to your host on supported clients. You will need to download \\u0026quot;Receptor\\u0026quot; on your host and \\u0026quot;Talkie\\u0026quot; on your\\nclients. You can find both here: \\u003Ca href=\\\"https://vb-audio.com/Voicemeeter/vban.htm\\\"\\u003Ehttps://vb-audio.c[...]
    {
      "recorded_at": "2025-05-20T23:55:50",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <BEARER_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/user/ConflictOfEvidence/about/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"t2\", \"data\": {\"is_employee\": false, \"is_friend\": false, \"subreddit\": {\"default_set\": true, \"user_is_contributor\": false, \"banner_img\": \"\", \"allowed_media_in_comments\": [], \"user_is_banned\": false, \"free_form_reports\": true, \"community_icon\": null, \"show_media\": true, \"icon_color\": \"#FFB470\", \"user_is_muted\": null, \"display_name\": \"u_ConflictOfEvidence\", \"header_img\": null, \"title\": \"\", \"previous_names\": [], \"over_18\": false, \"icon_size\": [256, 256], \"primary_color\": \"\", \"icon_img\": \"https://www.redditstatic.com/avatars/defaults/v2/avatar_default_1.png\", \"description\": \"\", \"submit_link_label\": \"\", \"header_size\": null, \"restrict_posting\": true, \"restrict_commenting\": false, \"subscribers\": 0, \"submit_text_label\": \"\", \"is_default_icon\": true, \"link_flair_position\": \"\", \"display_name_prefixed\": \"u/ConflictOfEvidence\", \"key_color\": \"\", \"name\": \"t5_1aecja\", \"is_default_banner\": true, \"url\": \"/user/ConflictOfEvidence/\", \"quarantine\": false, \"banner_size\": null, \"user_is_moderator\": false, \"accept_followers\": false, \"public_description\": \"\", \"link_flair_enabled\": false, \"disable_contributor_requests\": false, \"subreddit_type\": \"user\", \"user_is_subscriber\": false}, \"snoovatar_size\": null, \"awardee_karma\": 0, \"id\": \"12bzch\", \"verified\": true, \"is_gold\": false, \"is_mod\": true, \"awarder_karma\": 0, \"has_verified_email\": true, \"icon_img\": \"https://www.redditstatic.com/avatars/defaults/v2/avatar_default_1.png\", \"hide_from_robots\": false, \"link_karma\": 1088, \"pref_show_snoovatar\": false, \"is_blocked\": false, \"total_karma\": 21892, \"accept_chats\": false, \"name\": \"ConflictOfEvidence\", \"created\": 1477253791.0, \"created_utc\": 1477253791.0, \"snoovatar_img\": \"\", \"comment_karma\": 20804, \"accept_followers\": false, \"has_subscribed\": true, \"accept_pms\": false}}"
        },
        "headers": {
          "content-type": [
            "application/json; charset=UTF-8"
          ],
          "x-ratelimit-remaining": [
            "931.0"
          ],
          "x-ratelimit-reset": [
            "249"
          ],
          "x-ratelimit-used": [
            "69"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/user/ConflictOfEvidence/about/?raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.9.0"
}
