{
  "http_interactions": [
    {
      "recorded_at": "2024-04-27T01:29:37",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": [
            "Basic <BASIC_AUTH>"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"<ACCESS_TOKEN>\", \"token_type\": \"bearer\", \"expires_in\": 86400, \"scope\": \"*\"}"
        },
        "headers": {
          "content-type": [
            "application/json; charset=UTF-8"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2024-04-27T01:29:37",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <ACCESS_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/comments/w03cku/?limit=2048&sort=confidence&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "[{\"kind\": \"Listing\", \"data\": {\"after\": null, \"dist\": 1, \"modhash\": null, \"geo_filter\": \"\", \"children\": [{\"kind\": \"t3\", \"data\": {\"author_flair_background_color\": \"#94e044\", \"approved_at_utc\": null, \"subreddit\": \"LizardByte\", \"selftext\": \"Thank you for joining our LizardByte subreddit! We are still in process of updating our projects on GitHub!\\n\\nLook out for additional updates!\", \"user_reports\": [], \"saved\": false, \"mod_reason_title\": null, \"gilded\": 0, \"clicked\": false, \"title\": \"Welcome to LizardByte!\", \"link_flair_richtext\": [], \"subreddit_name_prefixed\": \"r/LizardByte\", \"hidden\": false, \"pwls\": null, \"link_flair_css_class\": \"\", \"downs\": 0, \"thumbnail_height\": null, \"top_awarded_type\": null, \"parent_whitelist_status\": null, \"hide_score\": false, \"name\": \"t3_w03cku\", \"quarantine\": false, \"link_flair_text_color\": \"dark\", \"upvote_ratio\": 0.82, \"ignore_reports\": false, \"ups\": 7, \"domain\": \"self.LizardByte\", \"media_embed\": {}, \"thumbnail_width\": null, \"author_flair_template_id\": \"5d220538-ff87-11ec-a9c4-56c680cbb67e\", \"is_original_content\": false, \"author_fullname\": \"t2_jwdeap93\", \"secure_media\": null, \"is_reddit_media_domain\": false, \"is_meta\": false, \"category\": null, \"secure_media_embed\": {}, \"link_flair_text\": \"Announcement\", \"can_mod_post\": true, \"score\": 7, \"approved_by\": null, \"is_created_from_ads_ui\": false, \"author_premium\": false, \"thumbnail\": \"self\", \"edited\": false, \"author_flair_css_class\": null, \"previous_visits\": [1714058632.0, 1714062595.0, 1714068499.0, 1714069806.0, 1714079940.0, 1714081381.0, 1714082461.0, 1714084081.0, 1714085322.0, 1714180262.0], \"author_flair_richtext\": [], \"gildings\": {}, \"content_categories\": null, \"is_self\": true, \"subreddit_type\": \"public\", \"created\": 1657930958.0, \"link_flair_type\": \"text\", \"wls\": null, \"removed_by_category\": null, \"banned_by\": null, \"author_flair_type\": \"text\", \"total_awards_received\": 0, \"allow_live_comments\": false, \"selftext_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EThank you for joining our LizardByte subreddit! We are still in process of updating our projects on GitHub!\\u003C/p\\u003E\\n\\n\\u003Cp\\u003ELook out for additional updates!\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"likes\": null, \"suggested_sort\": \"new\", \"banned_at_utc\": null, \"view_count\": null, \"archived\": false, \"no_follow\": false, \"spam\": false, \"is_crosspostable\": true, \"pinned\": false, \"over_18\": false, \"all_awardings\": [], \"awarders\": [], \"media_only\": false, \"link_flair_template_id\": \"1c411bfc-ff88-11ec-a3ea-969cbc5b3148\", \"can_gild\": false, \"removed\": false, \"spoiler\": false, \"locked\": false, \"author_flair_text\": \"Developer\", \"treatment_tags\": [], \"visited\": false, \"removed_by\": null, \"mod_note\": null, \"distinguished\": null, \"subreddit_id\": \"t5_6o778z\", \"author_is_blocked\": false, \"mod_reason_by\": null, \"num_reports\": 0, \"removal_reason\": null, \"link_flair_background_color\": \"#ff4500\", \"id\": \"w03cku\", \"is_robot_indexable\": true, \"num_duplicates\": 0, \"report_reasons\": [], \"author\": \"tata_contreras\", \"discussion_type\": null, \"num_comments\": 0, \"send_replies\": true, \"media\": null, \"contest_mode\": false, \"author_patreon_flair\": false, \"approved\": false, \"author_flair_text_color\": \"dark\", \"permalink\": \"/r/LizardByte/comments/w03cku/welcome_to_lizardbyte/\", \"whitelist_status\": null, \"stickied\": false, \"url\": \"https://www.reddit.com/r/LizardByte/comments/w03cku/welcome_to_lizardbyte/\", \"subreddit_subscribers\": 876, \"created_utc\": 1657930958.0, \"num_crossposts\": 0, \"mod_reports\": [], \"is_video\": false}}], \"before\": null}}, {\"kind\": \"Listing\", \"data\": {\"after\": null, \"dist\": null, \"modhash\": null, \"geo_filter\": \"\", \"children\": [], \"before\": null}}]"
        },
        "headers": {
          "content-type": [
            "application/json; charset=UTF-8"
          ],
          "x-ratelimit-remaining": [
            "989"
          ],
          "x-ratelimit-reset": [
            "24"
          ],
          "x-ratelimit-used": [
            "7"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/comments/w03cku/?limit=2048&sort=confidence&raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.9.0"
}