{
  "http_interactions": [
    {
      "recorded_at": "2025-05-20T23:55:47",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <BEARER_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/user/ReenigneArcher/about/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"t2\", \"data\": {\"is_employee\": false, \"is_friend\": false, \"subreddit\": {\"default_set\": false, \"user_is_contributor\": false, \"banner_img\": \"https://styles.redditmedia.com/t5_wtkds/styles/profileBanner_sgrof18cami21.png?width=1280\\u0026height=384\\u0026crop=1280:384,smart\\u0026s=9e0345ce351cd0ca8d7730d5f9ea81a372830313\", \"allowed_media_in_comments\": [], \"user_is_banned\": false, \"free_form_reports\": true, \"community_icon\": null, \"show_media\": true, \"icon_color\": \"\", \"user_is_muted\": null, \"display_name\": \"u_ReenigneArcher\", \"header_img\": null, \"title\": \"Reenigne Archer\", \"previous_names\": [], \"over_18\": false, \"icon_size\": [256, 256], \"primary_color\": \"\", \"icon_img\": \"https://styles.redditmedia.com/t5_wtkds/styles/profileIcon_7nkuulq2rhg81.jpg?width=256\\u0026height=256\\u0026crop=256:256,smart\\u0026s=eee4f856b194f594b59fa16478165137ce6e9ea8\", \"description\": \"\", \"submit_link_label\": \"\", \"header_size\": null, \"restrict_posting\": true, \"restrict_commenting\": false, \"subscribers\": 0, \"submit_text_label\": \"\", \"is_default_icon\": false, \"link_flair_position\": \"\", \"display_name_prefixed\": \"u/ReenigneArcher\", \"key_color\": \"\", \"name\": \"t5_wtkds\", \"is_default_banner\": false, \"url\": \"/user/ReenigneArcher/\", \"quarantine\": false, \"banner_size\": [1280, 384], \"user_is_moderator\": false, \"accept_followers\": true, \"public_description\": \"...\", \"link_flair_enabled\": false, \"disable_contributor_requests\": false, \"subreddit_type\": \"user\", \"user_is_subscriber\": false}, \"snoovatar_size\": null, \"awardee_karma\": 0, \"id\": \"393wfkmy\", \"verified\": true, \"is_gold\": false, \"is_mod\": true, \"awarder_karma\": 0, \"has_verified_email\": true, \"icon_img\": \"https://styles.redditmedia.com/t5_wtkds/styles/profileIcon_7nkuulq2rhg81.jpg?width=256\\u0026height=256\\u0026crop=256:256,smart\\u0026s=eee4f856b194f594b59fa16478165137ce6e9ea8\", \"hide_from_robots\": true, \"link_karma\": 4444, \"pref_show_snoovatar\": false, \"is_blocked\": false, \"total_karma\": 9227, \"accept_chats\": true, \"name\": \"ReenigneArcher\", \"created\": 1550539666.0, \"created_utc\": 1550539666.0, \"snoovatar_img\": \"\", \"comment_karma\": 4783, \"accept_followers\": true, \"has_subscribed\": true, \"accept_pms\": true}}"
        },
        "headers": {
          "content-type": [
            "application/json; charset=UTF-8"
          ],
          "x-ratelimit-remaining": [
            "934.0"
          ],
          "x-ratelimit-reset": [
            "252"
          ],
          "x-ratelimit-used": [
            "66"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/user/ReenigneArcher/about/?raw_json=1"
      }
    },
[...]
