{
  "http_interactions": [
    {
      "recorded_at": "2025-05-20T23:55:51",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <BEARER_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/LizardByte/new?limit=100&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"after\": \"t3_167fid0\", \"dist\": 100, \"modhash\": null, \"geo_filter\": \"\", \"children\": [{\"kind\": \"t3\", \"data\": {\"author_flair_background_color\": null, \"approved_at_utc\": null, \"subreddit\": \"LizardByte\", \"selftext\": \"I would like to know if the Sunshine .deb file from Github can be installed on Debian 13 (testing)?\\n\\nAbout three weeks ago, I was in Debian 12 (stable) and upgraded to testing because my Steam games would not launch. I was able to play any Steam games on Debian 13 after the upgrade.\\n\\nThe issue now is when I noticed that the system wanted me to run ```apt autoremove``` because of the 100+ old packages that are not needed. Sunshine broke because it wasn't compatible with the newer packages.\\n\\nHas anyone got Sunshine working with Debian 13?\", \"author_fullname\": \"t2_4b61cig1\", \"saved\": false, \"mod_reason_title\": null, \"gilded\": 0, \"clicked\": false, \"title\": \"Is Sunshine working with Debian 13 testing\", \"link_flair_richtext\": [], \"subreddit_name_prefixed\": \"r/LizardByte\", \"hidden\": false, \"pwls\": 6, \"link_flair_css_class\": \"\", \"downs\": 0, \"thumbnail_height\": null, \"top_awarded_type\": null, \"hide_score\": false, \"name\": \"t3_1kbb6wg\", \"quarantine\": false, \"link_flair_text_color\": \"dark\", \"upvote_ratio\": 1.0, \"ignore_reports\": false, \"ups\": 1, \"total_awards_received\": 0, \"media_embed\": {}, \"thumbnail_width\": null, \"author_flair_template_id\": null, \"is_original_content\": false, \"user_reports\": [], \"secure_media\": null, \"is_reddit_media_domain\": false, \"is_meta\": false, \"category\": null, \"secure_media_embed\": {}, \"link_flair_text\": \"Discussion\", \"can_mod_post\": true, \"score\": 1, \"approved_by\": null, \"is_created_from_ads_ui\": false, \"author_premium\": false, \"thumbnail\": \"self\", \"edited\": false, \"author_flair_css_class\": null, \"author_flair_richtext\": [], \"gildings\": {}, \"content_categories\": null, \"is_self\": true, \"subreddit_type\": \"public\", \"created\": 1746000409.0, \"link_flair_type\": \"text\", \"wls\": 6, \"removed_by_category\": null, \"banned_by\": null, \"author_flair_type\": \"text\", \"domain\": \"self.LizardByte\", \"allow_live_comments\": false, \"selftext_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EI would like to know if the Sunshine .deb file from Github can be installed on Debian 13 (testing)?\\u003C/p\\u003E\\n\\n\\u003Cp\\u003EAbout three weeks ago, I was in Debian 12 (stable) and upgraded to testing because my Steam games would not launch. I was able to play any Steam games on Debian 13 after the upgrade.\\u003C/p\\u003E\\n\\n\\u003Cp\\u003EThe issue now is when I noticed that the system wanted me to run \\u003Ccode\\u003Eapt autoremove\\u003C/code\\u003E because of the 100+ old packages that are not needed. Sunshine broke because it wasn\\u0026#39;t compatible with the newer packages.\\u003C/p\\u003E\\n\\n\\u003Cp\\u003EHas anyone got Sunshine working with Debian 13?\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"likes\": null, \"suggested_sort\": \"new\", \"banned_at_utc\": null, \"view_count\": null, \"archived\": false, \"no_follow\": true, \"spam\": false, \"is_crosspostable\": true, \"pinned\": false, \"over_18\": false, \"all_awardings\": [], \"awarders\": [], \"media_only\": false, \"link_flair_template_id\": \"af501944-ff87-11ec-bde8-96626ad45867\", \"can_gild\": false, \"removed\": false, \"spoiler\": false, \"locked\": false, \"author_flair_text\": null, \"treatment_tags\": [], \"visited\": false, \"removed_by\": null, \"mod_note\": null, \"distinguished\": null, \"subreddit_id\": \"t5_6o778z\", \"author_is_blocked\": false, \"mod_reason_by\": null, \"num_reports\": 0, \"removal_reason\": null, \"link_flair_background_color\": \"#0079d3\", \"id\": \"1kbb6wg\", \"is_robot_indexable\": true, \"report_reasons\": [], \"author\": \"forwardslashroot\", \"discussion_type\": null, \"num_comments\": 3, \"send_replies\": true, \"contest_mode\": false, \"mod_reports\": [], \"author_patreon_flair\": false, \"approved\": false, \"author_flair_text_color\": null, \"permalink\": \"/r/LizardByte/comments/1kbb6wg/is_sunshine_working_with_debian_13_testing/\", \"stickied\": false, \"url\": \"https://www.reddit.com/r/LizardByte/comments/1kbb6wg/is_sunshine_working_with_debian_13_testing/\", \"subreddit_subscribers\": 1087, \"created_utc\": 1746000409.0, \"num_crossposts\": 0, \"media\": null, \"is_video\": false}}, {\"kind\": \"t3\", \"data\": {\"author_flair_background_color\": null, \"approved_at_utc\": null, \"subreddit\": \"LizardByte\", \"selftext\": \"Hello, I recently updated to Fedora 42 and doing so removed my copr Sunshine.\\n\\nIs Sunshine working with Fedora 42 yet or do we have a timeline when it might work again?\\n\\nThanks!\\n\\n  \\n\\\\[Solved - Devs responded to use beta\\\\]\", \"author_fullname\": \"t2_xguspqcsg\", \"saved\": false, \"mod_reason_title\": null, \"gilded\": 0, [...]
    {
      "recorded_at": "2025-05-20T23:55:51",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer <BEARER_TOKEN>"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/user/lt_dan457/about/?raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"t2\", \"data\": {\"is_employee\": false, \"is_friend\": false, \"subreddit\": {\"default_set\": false, \"user_is_contributor\": false, \"banner_img\": \"\", \"allowed_media_in_comments\": [], \"user_is_banned\": false, \"free_form_reports\": true, \"community_icon\": null, \"show_media\": true, \"icon_color\": \"\", \"user_is_muted\": null, \"display_name\": \"u_lt_dan457\", \"header_img\": null, \"title\": \"Dan\", \"previous_names\": [], \"over_18\": false, \"icon_size\": [256, 256], \"primary_color\": \"\", \"icon_img\": \"https://i.redd.it/snoovatar/avatars/a2e81621-fb5e-4021-be8a-bf96490d56f6-headshot.png\", \"description\": \"\", \"submit_link_label\": \"\", \"header_size\": null, \"restrict_posting\": true, \"restrict_commenting\": false, \"subscribers\": 0, \"submit_text_label\": \"\", \"is_default_icon\": false, \"link_flair_position\": \"\", \"display_name_prefixed\": \"u/lt_dan457\", \"key_color\": \"\", \"name\": \"t5_24load\", \"is_default_banner\": true, \"url\": \"/user/lt_dan457/\", \"quarantine\": false, \"banner_size\": null, \"user_is_moderator\": false, \"accept_followers\": true, \"public_description\": \"\", \"link_flair_enabled\": false, \"disable_contributor_requests\": false, \"subreddit_type\": \"user\", \"user_is_subscriber\": false}, \"snoovatar_size\": [380, 600], \"awardee_karma\": 0, \"id\": \"4k1vwaco\", \"verified\": true, \"is_gold\": false, \"is_mod\": false, \"awarder_karma\": 0, \"has_verified_email\": true, \"icon_img\": \"https://i.redd.it/snoovatar/avatars/a2e81621-fb5e-4021-be8a-bf96490d56f6-headshot.png\", \"hide_from_robots\": true, \"link_karma\": 17837, \"pref_show_snoovatar\": false, \"is_blocked\": false, \"total_karma\": 78247, \"accept_chats\": true, \"name\": \"lt_dan457\", \"created\": 1568086595.0, \"created_utc\": 1568086595.0, \"snoovatar_img\": \"https://i.redd.it/snoovatar/avatars/a2e81621-fb5e-4021-be8a-bf96490d56f6.png\", \"comment_karma\": 60410, \"accept_followers\": true, \"has_subscribed\": true, \"accept_pms\": true}}"
        },
        "headers": {
          "content-type": [
            "application/json; charset=UTF-8"
          ],
          "x-ratelimit-remaining": [
            "929.0"
          ],
          "x-ratelimit-reset": [
            "248"
          ],
          "x-ratelimit-used": [
            "71"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/user/lt_dan457/about/?raw_json=1"
      }
    },
[...]
